

/*  header-menu  */

.header-menu {
    @include flex;
    margin: 0 auto;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    overflow: hidden;
    .logos{
        display: block;
        width: 13rem;
        padding: 30px 0 32px 0;
        -webkit-animation: slide-up 1.5s 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
        animation: slide-up 1.5s 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
        @media screen and (max-width: 600px){
            width: 10rem;
            padding: 20px 0 13px 0;
        }
        &__img{
            @include img;
        }
    }
    .arrow{
        position: absolute;
        left: 3.125rem;
        -webkit-animation: slide-right 1.5s 0.5s cubic-bezier(0.215, 0.610, 0.355, 1) backwards;
        animation: slide-right 1.5s 0.5s cubic-bezier(0.215, 0.610, 0.355, 1) backwards;
        @media screen and (max-width: 600px){
            left: 17px;
        }
        & i{
            font-size: 1.5rem;
            font-weight: bolder;
            color: $bg-footer-grey;
        }
    }
}

/*  Image du menu, en position: absolute; */

.img-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4.9rem;
    width: 100%;
    height: 24rem;
    @media screen and (max-width: 600px){
        top: 4.2rem;
        width: 100%;
        height: 17rem;
    }
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

/*  Conteneur global "main", suivi,
   
    du container qui englobe tout ce qu'il y a a l'intérieur.  */
    .main{
        @include flex;
        flex-wrap: wrap;
        max-width: 1440px;
        width: 100%;
        height: 100%;
        padding: 0 6.25rem;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        top: 21.5rem;
        @media screen and (max-width: 600px){
            padding: 0 0rem;
            top: 15.125rem;
        }
        &__container{
            display: flex;
            justify-content: center;
            width: 100%;
            background: $bg-grey1;
            border-top-left-radius: 2.5rem;
            border-top-right-radius: 2.5rem;
            gap: 40px;
            @media screen and (max-width: 600px){
                padding: 0 0px;
            }
        }
    }

/*  Menu title avec la Palette du goût, avec le coeur */

.title-menu{
    @include flex;
    gap: 2rem;
    width: 100%;
    @media screen and (max-width: 600px){
        display: flex;
        justify-content: space-between;
        gap: 0;
        padding: 32px 0px 0 12px;
    }
    &__heart{                                     /* <--- Le coeur du menu-title  */
        position: relative;
        color: black;
        i{
            position: absolute;
            top: -0.7rem;
            left: 0;
            font-size: 1.375rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
}
        @media screen and (max-width: 600px){
            left: -3rem;
        }
        .fa-solid{
            @include heart;
        }
    }
}

/*  Conteneur des 3 box, et des 3 languettes  */

.content-box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    padding: 0 12.5rem;
    background: $bg-grey1;
    @media screen and (max-width: 992px){
        grid-template-columns: repeat(auto-fit, minmax(21.8rem, 1fr));
        padding: 0 3.125rem;
    }
    @media screen and (max-width: 600px){
        grid-template-columns: repeat(auto-fit, minmax(21.8rem, 1fr));
        padding: 0 12px;
    }
}
/*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    
*/

/*  Conteneur  des 3 languettes  */

.box{
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
    width: 100%;
    & .tag-container{
        display: flex;
        width: 100%;
        text-align: left;
        justify-content: space-between;
        -o-border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        border-radius: 15px;
        gap: .3125rem;
        overflow: hidden;
        cursor: pointer;
        background: #fff;
        @include shadow;
        &__tag{
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 15px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            & h4, p{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        &__price{
            position: relative;
            display: block;
            padding: 2.2rem 0.8rem 0 0;
        }
    }
}

/* Bouton en dégradé en dessous de "content-box"  */

.btn-menu{
    display: block;
    padding: 0;
    @media screen and (max-width: 600px){
        padding-bottom: 40px;
    }
    & .menu{
        padding: 16px 48px;
    }
}


/*  Animations des languettes  */

.tag-1, .tag-2, .tag-3{
    -webkit-animation: slide-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
    animation: slide-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
}
.tag-4, .tag-5, .tag-6{
    -webkit-animation: slide-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
    animation: slide-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
}
.tag-7, .tag-8, .tag-9{
    -webkit-animation: slide-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
    animation: slide-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
}

.tag-1{
    animation-delay: 0.1s;
}
.tag-2{
    animation-delay: 0.4s;
}
.tag-3{
    animation-delay: 0.7s;
}
.tag-4{
    animation-delay: 0.7s;
}
.tag-5{
    animation-delay: 1s;
}
.tag-6{
    animation-delay: 1.3s;
}
.tag-7{
    animation-delay: 0.1s;
}
.tag-8{
    animation-delay: 0.4s;
}
.tag-9{
    animation-delay: 0.7s;
}