$main-color: #9356DC;
$primary-color: #FF79DA;
$secondary-color: #99E2D0;

$icon-color: #7E7E7E;

$bg-grey1: #F6F6F6;
$bg-grey2: #EAEAEA;
$bg-footer-grey: #353535;

$green-font: #008766;
$text-color: #fff;
$logo-color: #101010;


$border-radius: 15px;
$padding: 3.125rem;